@charset "UTF-8";
/* CSS Document */

.hidden {
    display: none;
}

#container {
    margin: 20px auto;
    width: 428px;
    border: solid 1px #333;
    background: rgb(205, 255, 238);
    border-radius: 10px;
}

#maincontent {
        display: grid;
        grid-template-columns: repeat(4, 85px);
        grid-column-gap: 16px;
        padding-left: 20px;
        padding-right: 20px;
}

.title {
    grid-column: 1/-1;
    text-align: center;
    font-family: "Passion One", sans-serif;
    font-weight: 900;
    font-style: normal;  
    font-size: 50px;
    letter-spacing: 8px;
    color: orange;
    text-shadow: 4px 2px red, 6px 6px rgb(155, 255, 222);
}

article {
    grid-column: 1/-1;
    text-align: center;
    font-family: "Gabarito", sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 25px;
}

span {
    color: orange;
    font-family: "Gabarito", sans-serif;
    font-weight:900;
    font-style:italic;
    letter-spacing: 1px;
    font-size: 18px;
}

img {
    margin-top: 20px;
    margin-bottom: 30px;
    border: solid 2px orange;
}

.sarah {
    color: black;
    font-weight:bolder;
}

h3 span, #end_quench {
    color: orange;
    font-family: "Gabarito", sans-serif;
    font-weight:900;
    font-style:italic;
    letter-spacing: 1px;
    font-size: 20px;
}

h3 {
    font-family: "Sarabun", sans-serif;
    font-weight: 700;
    font-style: normal;
}
